<form autocomplete="off" #moduloForm="ngForm" [formGroup]="formSubModulo">
  <h3 class="dialog-titulo" mat-dialog-title>
    {{ titulo }}
  </h3>
  <div class="dialog-contenido" mat-dialog-content>
    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <mat-form-field style="width: 100%" appearance="fill">
            <mat-label>Nombre del SubMódulo</mat-label>
            <input type="text" matInput formControlName="label" />
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field style="width: 100%" appearance="fill">
            <mat-label>Tabla Relacionada</mat-label>
            <mat-select formControlName="tableName" (selectionChange)="changeTableName()">
              <mat-option *ngFor="let tabla of listaTablas" [value]="tabla.tableName">
                {{ tabla.tableName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <div class="col-md-12">
          <mat-form-field style="width: 100%" appearance="fill">
            <mat-label>Columna Relacionada</mat-label>
            <mat-select formControlName="columnName">
              <mat-option *ngFor="let columna of listaColumnas" [value]="columna.columnName">
                {{ columna.columnName }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>
  <div class="dialog-botones">
    <button type="button" (click)="agregarSubModulo()" mat-raised-button color="warn">
      <mat-icon>save</mat-icon>
      <span>Guardar</span>
    </button>

    <button type="button" mat-raised-button color="primary" [mat-dialog-close]="false" style="margin-left: 10px">
      <mat-icon>clear</mat-icon>
      <span>Cancelar</span>
    </button>
  </div>
</form>